<mat-toolbar id="header" fxLayout="column" fxLayoutAlign="center center">
  <mat-toolbar-row
    class="header-section header-main-section"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="32px"
  >
    <a routerLink="/" routerLinkActive="active">
      <div class="header-main-section-logo" fxFlex="none">
        <img src="assets/images/logo-bw.png" />
      </div>
    </a>

    <mat-form-field appearance="outline" fxFlex>
      <span matPrefix><mat-icon>search</mat-icon></span>
      <input
        type="email"
        matInput
        placeholder="O que você procura ?"
        #searchInput
        (input)="onSearchChangeHandler(searchInput.value)"
      />
    </mat-form-field>

    <div
      class="header-menu-options-icon"
      fxFlex="none"
      fxLayout="row"
      fxLayoutGap="32px"
    >
    
      <button mat-icon-button (click)="onClickNotification()" [matMenuTriggerFor]="menu">
        <mat-icon>{{showNotification ? 'notifications_active' : 'notifications_none'}}</mat-icon>
      </button>
      <mat-menu class="fullMenu" #menu="matMenu" yPosition="below" (menuClosed)="showNotification = false">
        <div class="menuDiv">
            <app-notifications></app-notifications>
        </div>
        </mat-menu>

      <button mat-icon-button routerLink="/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
      </button>
      <button
        mat-icon-button
        routerLink="/shopping-cart/cart"
        routerLinkActive="active"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row
    class="header-store-section"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div
      class="header-section header-store-section-options"
      fxLayout="row"
      fxLayoutGap="26px"
    >
      <button mat-button>NOVIDADES</button>
      <button mat-button>TENDÊNCIAS</button>
      <button mat-button>ROUPAS</button>
      <button mat-button>FERRAMENTAS</button>
      <button mat-button>BRINQUEDOS</button>
      <button mat-button>ELETRÔNICOS</button>
      <button mat-button>FESTAS</button>
      <button mat-button>ACESSÓRIOS</button>
      <button mat-button>MÓVEIS</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
