<header>
  <nav>
    <a routerLink="/order/history" routerLinkActive="active">
      Order - History</a
    >
    <a routerLink="/order/details/2" routerLinkActive="active">
      Order - Details</a
    ><a routerLink="/order/follow/2" routerLinkActive="active">
      Order - Follow</a
    >
    <a routerLink="/order/cancellation/2" routerLinkActive="active">
      Order - Cancellation</a
    >
    <br />
    <br />
    <a routerLink="/shopping-cart/cart" routerLinkActive="active">
      Shopping - Cart</a
    >
    <a routerLink="/shopping-cart/create-order" routerLinkActive="active">
      Shopping - Create Order</a
    >
    <br />
    <br />
    <a routerLink="/profile" routerLinkActive="active"> Profile</a>
  </nav>
</header>
