<div class="container">
  <div class="step-form-container">
    <app-profile-header-step></app-profile-header-step>
    <app-profile-form-container>
      <app-profile-form-personal-data
        *ngIf="profileForm == 1"
      ></app-profile-form-personal-data>
      <app-profile-form-address
        *ngIf="profileForm == 2"
      ></app-profile-form-address>
      <app-profile-form-delete
        *ngIf="profileForm == 3"
      ></app-profile-form-delete>
      <app-button
        *ngIf="profileForm == 3"
        label="DELETAR"
        type="btn medium danger-outline"
        (click)="onClickDelete()"
      ></app-button>
      <app-button
        *ngIf="profileForm != 3"
        label="SALVAR"
        type="btn medium orange-outline"
        (click)="onClickSave()"
      ></app-button>
    </app-profile-form-container>
  </div>
</div>
