<mat-card>
  <mat-card-content>Profile</mat-card-content>
  <button mat-raised-button>Order History</button>
  <app-text-input label="Test" placeholder="Digite test"></app-text-input>
</mat-card>
<app-button type="btn large" [funcButton]="funcTest" label="ENTRAR"></app-button>
<app-button type="btn medium" [funcButton]="funcTest2" label="ENTRAR"></app-button>
<app-button type="btn large danger" label="CANCELAR"></app-button>
<app-button type="btn medium danger" label="CANCELAR"></app-button>
<app-button type="btn large black" label="CANCELAR"></app-button>
<app-button type="btn medium black" label="CANCELAR"></app-button>
<app-button type="btn large orange-outline "  label="NOTA FISCAL"></app-button>
<app-button type="btn medium orange-outline" label="NOTA FISCAL"></app-button>
<app-button type="btn large danger-outline" label="CANCELAR"></app-button>
<app-button type="btn medium danger-outline" label="CANCELAR"></app-button>
<app-button type="btn large black-outline" label="CANCELAR"></app-button>
<app-button type="btn medium black-outline" label="CANCELAR"></app-button>
