#form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#form label {
  font-size: var(--font-texts);
  color: var(--color-inactive);
  font-weight: 300;
}

#form input {
  font-weight: 300;
}

.label-error {
  color: var(--color-error) !important;
}

#form-field ::ng-deep .mdc-text-field {
  align-items: center;
  height: 45px !important;
  max-width: 400px;
  padding: 0px 12px !important;

  border-radius: var(--radius-default) !important;
  border: none !important;
  background-color: #f2f2f2;
  outline: none !important;

  font-size: var(--font-inputs) !important;
}

.form-field-error ::ng-deep .mdc-text-field {
  background-color: var(--color-error-label) !important;
}

#form-field ::ng-deep .mdc-text-field .mdc-notched-outline > * {
  border: none !important;
}

#form-field mat-hint {
  color: var(--color-inactive);
}

#form-field mat-error {
  color: var(--color-error);
}
