<div id="form">
  <label
    for="form-field"
    [ngClass]="{ 'label-error': formControllHasError() }"
    >{{ label }}</label
  >
  <mat-form-field
    id="form-field"
    [ngClass]="{ 'form-field-error': formControllHasError() }"
    appearance="outline"
    floatLabel="always"
  >
    <input
      matInput
      [placeholder]="placeholder"
      [type]="type"
      [formControl]="formControll"
      [pattern]="pattern"
      [mask]="mask"
    />
    <mat-hint *ngIf="!!hint">{{ hint }}</mat-hint>
    <mat-error *ngIf="formControllHasError()">
      {{ getErrorMessages() }}
    </mat-error>
  </mat-form-field>
</div>
