@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  /* Color */
  --color-main: #221f1f;
  --color-details: #ff9900;
  --color-background: #ffffff;
  --color-texts: #414141;
  --color-inactive: #818181;
  --color-error: #dc3545;
  --color-cards: #fcfcfc;
  --color-error-label: #ffd0d5;
  --color-success: #78a55a;
  --color-background-success: #d5e5ca;

  /* Font */
  --font-family-base: "Quicksand", sans-serif;
  --font-title: 24px;
  --font-subtitle: 16px;
  --font-texts: 14px;
  --font-inputs: 14px;
  --font-placeholder: 12px;

  /* Font Weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;

  /* Radius */
  --radius-default: 8px;

  /* Spacing */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

  font-family: var(--font-family-base);
}

button {
  border: none;
}

.success-snackbar {
  color: var(--color-background) !important;
  --mdc-snackbar-container-color: var(--color-success) !important;
  --mat-mdc-snack-bar-button-color: var(--color-background) !important;
}

.error-snackbar {
  color: var(--color-background) !important;
  --mdc-snackbar-container-color: var(--color-error) !important;
  --mat-mdc-snack-bar-button-color: var(--color-background) !important;
}
