.flexbox{
  display: flex;
  align-items: center;
}
.direction-column{
  flex-direction: column;
}
.child-pattern{
  
}
#container {
  background: var(--color-background);
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family-base);
}

.box{
  height: 247px;
  width: 884px;
  background: var(--color-cards);
}
.box-top{
  height: 63px;
  background: var(--color-texts);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-bottom{
  height: 184px;
}
.item1{
  flex-grow: 1;
  align-self: stretch;
}
.item20{
  flex-grow: 20;
  align-self: stretch;
}
.item2{
  flex-grow: 2;
  align-self: stretch;
}
.mini-box{
  margin: 2px 20px;
  align-self: auto;
}

.white{
  color: white
}

.right {
  margin-left: auto;
}
.height-auto{
  height: auto;
}
.black{
  color: var(--color-texts);
}
.gray{
  color: var(--color-inactive);
}
.dark{
  font-weight: var(--font-weight-bold);
}
.regular{
  font-weight: var(--font-weight-regular);
}
.light{
  font-weight: var(--font-weight-light);
}
img{
  width: 183px;
  height: 118px;
}
.margem{
  margin: auto;
}
.margin-text{
  padding: 30px 0;
}
.margin-button-black{
  margin: 32px auto 0px;
}
.margin-button-white{
  margin: 20px auto auto
}
.margin-button-white{
  margin: 20px auto;
}
.margem-height{
  margin: auto 0px;
}
.padding-auto{
  padding: auto;
}
.margem-img{
  margin: 20px 10px;
}
.margem-lado{
  margin: 0px 5px;
}
.title{
  font-size: 20px;
  line-height: 25px;
}
.subtitle{
  font-size: var(--font-subtitle);
  line-height: 20px;
}
.big-text{
  font-size: 14px;
  line-height: 18px;
}
.medium-text{
  font-size: 12px;
  line-height: 15px;
}
.small-text{
  font-size: 10px;
  line-height: 12px;
}

.box-datepicker {
  width: 87px;
  height: 34px;
}
#form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.result-text{
  margin: 40px 5px;
  color: var(--color-texts);
}
.date {
  border: 1px solid purple;
}
.border-forms{
  border: 1px solid #818181;
  border-radius: 8px;
}