.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 52px 62px;
}

.container mat-card-content {
  padding: 0 !important;
}

.title {
  font-size: var(--font-title);
  font-weight: var(--font-weight-bold);

  align-self: flex-start;

  margin-bottom: 32px;
}
