.header {
  display: flex;
  justify-content: space-between;

  width: 100% !important;
  padding: 0 16px;
  margin-bottom: 52px;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.step:last-child {
  flex-grow: 0;
  flex-shrink: 0;
}

.step hr {
  border: none;
  border-top: 0.1px solid var(--color-inactive) !important;
  margin: 0 12px;
  flex-grow: 1;
}

.section-draw {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin-right: 10px;

  background-color: var(--color-details);
  border-radius: 50%;
}

.section-title {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-subtitle);
  color: var(--color-inactive);
}

.active .section-title {
  color: var(--color-texts);
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
