<div class="container">
  <div class="img-container">
    <img src="../../../assets/images/logo-colorful.png" />
  </div>
  <app-sign-up-header-step></app-sign-up-header-step>
  <app-sign-up-form-container>
    <app-sign-up-form-personal-data
      *ngIf="signUpFormStep == 1"
    ></app-sign-up-form-personal-data>
    <app-sign-up-form-address
      *ngIf="signUpFormStep == 2"
    ></app-sign-up-form-address>
    <app-sign-up-form-payment
      *ngIf="signUpFormStep == 3"
    ></app-sign-up-form-payment>
  </app-sign-up-form-container>
</div>
