.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-left: 5px;
  margin-bottom: 20px;
}

.container {
  margin-top: 60px;
  margin-left: 71px;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-texts);
  margin-bottom: 40px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-texts);
  margin-bottom: 20px;
}

h3 {
  margin-left: 50px;
}

p {
  margin-top: 50px;
  margin-bottom: 24px;
}

.step {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-active {
    background-color: var(--color-success)
  }

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.step-content img {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.stepHome img {
  height: 40px;
  width: 72px;
}

.ajustaHora{
  align-items: center;
}