<div class="container">
  <h1>Acompanhamento do pedido</h1>
  <app-card [style]="{ width: '999px', padding: '10px' }">
    <p *ngIf="!statusCanceled">Estimativa para entrega em {{ 14 }} dias</p>
    <p *ngIf="statusCanceled">Produto cancelado, não há estimativa para entrega</p>
    <h2>{{ statusText }}</h2>
    <div class="image-container">
      <div class="espaco">
        <div class="step" [ngClass]="{'step-active': statusConfirmed || statusInTransit || statusDelivered}">
          <div class="step-content">
            <img src="../../../assets/images/Big Parcel.png" alt="icone1">
          </div>
        </div>
        <div class="status" *ngIf="statusConfirmed || statusInTransit || statusDelivered">Confirmado</div>
      </div>

      <div class="ajustaHora">
        <div *ngIf="!statusCanceled"><h3>7 dias</h3></div>
        <h4>----------------------------></h4>
      </div>

      <div class="espaco">
        <div class="step" [ngClass]="{'step-active': statusInTransit || statusDelivered}">
          <div class="step-content">
            <img src="../../../assets/images/Open Box.png" alt="icone2">
          </div>
        </div>
        <div class="status" *ngIf="statusInTransit || statusDelivered">Em trânsito</div>
      </div>

      <div class="ajustaHora">
        <div *ngIf="!statusCanceled"><h3>7 dias</h3></div>
        <h4>----------------------------></h4>
      </div>

      <div class="espaco">
        <div class="step stepHome" [ngClass]="{'step-active': statusDelivered}">
          <div class="step-content">
            <img src="../../../assets/images/Smart Home Checked.png" alt="icone3">
          </div>
        </div>
        <div class="status" *ngIf="statusDelivered">Entregue</div>
      </div>
    </div>

  </app-card>
</div>
