.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
}

.container {
  margin-top: 60px;
  margin-left: 71px;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-texts);
  margin-bottom: 40px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-texts);
}

p {
  margin-top: 50px;
  margin-bottom: 24px;
}

.step {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-active {
  background-color: var(--color-success)
}

.step img {
  height: 50px;
  width: 50px;
}

.stepHome img {
  height: 40px;
  width: 72px;
}

/* .card-content {
    padding: 16px;
    text-align: center;
  } */
  
  /* .image-container {
    display: flex;
    justify-content: space-between;
  } */
  