<div class="container">
  <h1>Acompanhamento do pedido {{ orderId }}</h1>
  <app-card>
    <p>Estimativa para entrega em
      {{ timeRemaining.days }} dias,
      {{ timeRemaining.hours }} horas,
      {{ timeRemaining.minutes }} minutos e
      {{ timeRemaining.seconds }} segundos
    </p>
    <h2>{{ status }}</h2>
    <div class="image-container">
      <div class="espaco">
        <div class="step" [ngClass]="{'step-active': timeRemaining.minutes >= 0}" (ngClassChange)="status = 'Confirmado'">
          <div class="step-content">
            <img src="../../../assets/images/Big Parcel.png" alt="icone1">
          </div>
        </div>
        <div class="status" *ngIf="timeRemaining.minutes >= 0">Confirmado<br>{{deliveryDate.format('DD/MM/YYYY')}}</div>
      </div>
      <p>----------------------------></p>
      <div class="espaco">
        <div class="step" [ngClass]="{'step-active': timeRemaining.minutes <= 2}" (ngClassChange)="status = 'Em trânsito'">
          <div class="step-content">
            <img src="../../../assets/images/Open Box.png" alt="icone2">
          </div>
        </div>
        <div class="status" *ngIf="timeRemaining.minutes <= 2">Em trânsito<br>{{deliveryDate.format('DD/MM/YYYY')}}</div>
      </div>
      <p>----------------------------></p>
      <div class="espaco">
        <div class="step stepHome" [ngClass]="{'step-active': timeRemaining.minutes <= 1}" (ngClassChange)="status = 'Entregue'">
          <div class="step-content">
            <img src="../../../assets/images/Smart Home Checked.png" alt="icone3">
          </div>
        </div>
        <div *ngIf="timeRemaining.minutes <= 1">Entregue<br>{{deliveryDate.format('DD/MM/YYYY')}}</div>
      </div>
    </div>
  </app-card>
</div>






<!-- <mat-card>
  <mat-card-content>Followghghgj</mat-card-content>
</mat-card> -->

<!-- <h1>Acompanhamento do pedidoooo</h1>
<p>Estimativa para entrega xx/yy tal tal tal tal</p>
<p>Em trânsito</p>

  <mat-card>
    <mat-card-content>
      <div class="image-container">
        <img src="../../../assets/images/logo-colorful.png">
        <img src="../../../assets/images/logo-colorful.png">
        <img src="../../../assets/images/logo-colorful.png">
      </div>
      
    </mat-card-content>    
  </mat-card> -->

