<div>
    <app-text-input
      class="main-address"
      label="Endereço principal"
      placeholder="Adicione um endereço"
      [control]="profileAddressForm.get('mainAddress')"
    ></app-text-input>

    <app-text-input
      class="address2"
      label="Endereço 2"
      placeholder="Adicione um endereço"
      [control]="profileAddressForm.get('address2')"
    ></app-text-input>

    <app-text-input
      class="address3"
      label="Endereço 3"
      placeholder="Adicione um endereço"
      [control]="profileAddressForm.get('address3')"
    ></app-text-input>
</div>
