.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    padding-top: 44px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    right: 50%;
    text-align: left;
    overflow: visible;
    transform: translate(0, 0);
    padding-left: 64px;
    padding-top: 118px;

}

h2 {
    padding-bottom: 32;
    font-size: 2vw;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

p {
    margin-bottom: 20px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;

}

button {
    background: var(--color-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--radius-default);
    font-size: 16px;
    font-weight: 500;

    padding: 10px 20px;
    color: var(--color-texts);
    width: 180px;
    height: 45px;
}

button:hover {
    background-color: var(--color-inactive);
    cursor: pointer;
}

button:active {
    background-color: var(--color-main);
    /* nova cor */
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}

.product {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin: 0 10px;
    padding: 20px;
    background-color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.name-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.name-and-price h2 {
    font-size: 24px;
    color: var(--color-texts);
}

.name-and-price h3 {
    font-size: 24px;
    color: var(--color-texts);
}

.product p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: var(--color-texts);
}