<router-outlet></router-outlet>

<div class="container">
    <img src="assets/images/image.jpg" alt="Imagem" />
    <div class="overlay">
        <h2>Lorem ipsum dolor us tortor</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Ipsum aliquam elementum adipiscing erat pellentesque diam.</p>
        <button>COMPRAR</button>
    </div>
</div>

<div id="product-container">
    <div class="product">
        <img src="assets/images/card_1.jpg" alt="Nome do produto">
        <div class="product-info">
            <div class="name-and-price">
              <h2>Lorem</h2>
              <h3>R$ 200</h3>
            </div>
            <p>Lorem Ipsum</p>
          </div>
      </div>
      <div class="product">
        <img src="assets/images/card_1.jpg" alt="Nome do produto">
        <div class="product-info">
            <div class="name-and-price">
              <h2>Lorem</h2>
              <h3>R$ 200</h3>
            </div>
            <p>Lorem Ipsum</p>
          </div>
      </div>
      <div class="product">
        <img src="assets/images/card_1.jpg" alt="Nome do produto">
        <div class="product-info">
            <div class="name-and-price">
              <h2>Lorem</h2>
              <h3>R$ 200</h3>
            </div>
            <p>Lorem Ipsum</p>
          </div>
      </div>
      <div class="product">
        <img src="assets/images/card_1.jpg" alt="Nome do produto">
        <div class="product-info">
            <div class="name-and-price">
              <h2>Lorem</h2>
              <h3>R$ 200</h3>
            </div>
            <p>Lorem Ipsum</p>
          </div>
      </div>
</div>